<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("partials/head-base.ejs", {title: "Iniciar sesión"}) %>
        <link rel="stylesheet" href="/css/login-register-create.css" />
        <!-- <script
            type="text/javascript"
            src="/js/validations/validator.min.js"
            defer
        ></script>
        <script src="/js/validations/userValidations.js" defer></script> -->
    </head>

    <body>
        <header><%- include("partials/header.ejs") %></header>

        <main>
            <% if (typeof errors != 'undefined'){ %>
            <ul>
                <% for (i=0; i < errors.length; i++) {%>
                <li style="color: aliceblue"><%= errors[i].msg %></li>
                <% } %>
            </ul>
            <% } %>
            <section class="login-back">
                <div class="form-box">
                    <h2 class="form-tittle">INGRESAR</h2>
                    <form action="/users/login" method="POST" id="registerForm">
                        <label class="box-label-form">
                            <div class="field">
                                <input
                                    type="text"
                                    placeholder="Usuario"
                                    name="user"
                                    id="user"
                                    class="validate floating-input"
                                />
                                <label for="user" class="floating-label">Nombre de usuario</label>
                            </div>
                            <div id="userBorder" class="feedback-border"></div>
                            <span id="userFeedback" class="feedback"></span>
                        </label>
                        <label class="box-label-form">
                            <div class="field">
                                <input id="password" type="password" placeholder="Contraseña" name="password" class="validate floating-input" />
                                <label for="password" class="floating-label">Contraseña</label>
                            </div>
                            <div id="passwordBorder" class="feedback-border"></div>
                            <span id="passwordFeedback" class="feedback"></span>
                        </label>
                        <div class="remember">
                            <label for="remember">Recordar usuario</label>
                            <input type="checkbox" name="remember" checked />
                        </div>
                        <button type="submit" class="btn">INGRESAR</button>
                    </form>
                    <div class="login-social">
                        <p>Ingresar con:</p>
                        <i class="fab fa-facebook fa-2x"></i>
                        <i class="fab fa-google fa-2x"></i>
                    </div>
                    <a class="btn" href="/users/register"
                        >CREAR CUENTA</a
                    >
                </div>
            </section>
        </main>

        <footer><%- include("partials/footer.ejs") %></footer>
    </body>
</html>
