<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("partials/head-base.ejs", {title: "Crear cuenta"}) %>
        

        <script type="text/javascript" src="/js/validations/validator.min.js" defer></script>
        <script src="/js/validations/userValidations.js" defer></script>


<script
    defer
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
></script>
<script
    defer
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"
></script>
<link rel="stylesheet" href="/css/login-register-create.css" />
    </head>

    <body>
        <header><%- include("partials/header.ejs") %></header>

        <main>
            <% if (typeof errors != 'undefined'){ %>
            <ul>
                <% for (i=0; i < errors.length; i++) {%>
                <li style="color:black"><%= errors[i].msg %></li>
                <% } %>
            </ul>
            <% } %>
            <section class="register-back">
                <div class="form-box">
                    <h2 class="form-tittle">CREAR CUENTA</h2>
                <form action="/users/register" method="POST" enctype="multipart/form-data" id="registerForm" class="registerForm" >
                        <label class="box-label-form">
                            <div class="field">
                                <input id="name" type="text" placeholder="Nombre y Apellido"name="name" class="validate floating-input" />
                                <label for="name" class="floating-label">Nombre y Apellido</label>
                            </div>
                            <div id="nameBorder" class="feedback-border"></div>
                            <span id="nameFeedback" class="feedback"></span>
                        </label>

                        <label class="box-label-form">
                            <div class="field">
                                <input id="user" type="text" placeholder="Usuario" name="user" class="validate floating-input" />
                                <label for="user" class="floating-label">Nombre de usuario</label>
                            </div>
                            <div id="userBorder" class="feedback-border"></div>
                            <span id="userFeedback" class="feedback"></span>
                        </label>

                        <label class="box-label-form">
                            <div class="field">
                                <input id="email" type="email" placeholder="Email" name="email" class="validate floating-input" />
                                <label for="email" class="floating-label">Email</label>
                            </div>
                            <div id="emailBorder" class="feedback-border"></div>
                            <span id="emailFeedback" class="feedback"></span>
                        </label>

                        <label class="box-label-form">
                            <div class="field">
                                <input id="address" type="text" placeholder="Domicilio" name="address" class="validate floating-input" />
                                <label for="address" class="floating-label">Dirección</label>
                            </div>
                            <div id="addressBorder" class="feedback-border"></div>
                            <span id="addressFeedback" class="feedback"></span>
                        </label>

                        <label class="box-label-form">
                            <div class="field">
                                <input id="password" type="password" placeholder="Contraseña" name="password" class="validate floating-input" />
                                <label for="password" class="floating-label">Contraseña</label>
                            </div>
                            <div id="passwordBorder" class="feedback-border"></div>
                            <span id="passwordFeedback" class="feedback"></span>
                        </label>

                        <label class="box-label-form">
                            <div class="field">
                                <input id="password2" type="password" placeholder="Repetir contraseña" name="password2" class="validate floating-input" />
                                <label for="password2" class="floating-label">Repita su contraseña</label>
                            </div>
                            <div id="password2Border" class="feedback-border"></div>
                            <span id="password2Feedback" class="feedback"></span>
                        </label>

                        <label class="avatar-container">
                            <div>
                                <input id="avatar" type="file" name="avatar" class="userAvatar avatar-input validate form-control-file" />
                            </div>
                            <div id="avatarBorder" class="feedback-border-avatar"></div>
                            <span id="avatarFeedback" class="feedback"></span>
                        </label>

                        <button type="submit" class="btn">REGISTRARME</button>
                    </form>
                </div>
            </section>
        </main>

        <footer><%- include("partials/footer.ejs") %></footer>
    </body>
</html>
