    <a href="/">
        <img class="logo-footer" src="/images/layout/logo_footer.png" alt="Logo de Level Up Games" /></a>
    <section class="info">
        <section class="info-description">
            <p>
                Level-Up Games | Líderes en venta de consolas, videojuegos y artículos del universo gamer.<br>
                Con nuestro extenso catálogo, sistema de pagos seguros y atención personalizada, buscamos ofrecerte la
                mejor experiencia de compra online.
            </p>
        </section>

        <section class="info-social">
            <section class="social">
                <h4>Seguinos en:</h4>
                <ul>
                    <a href="#">
                        <li>
                            <i class="fab fa-facebook"> </i> @levelup.games
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <i class="fab fa-twitter"> </i> @levelup.games
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <i class="fab fa-instagram"> </i> @levelup.games
                        </li>
                    </a>
                </ul>
            </section class="datos-contact">
            <section class="contact">
                <h4>Informacion de contacto</h4>
                <ul>
                    <a href="#">
                        <li>
                            <i class="fas fa-map-marker-alt"></i> Av. Monroe
                            860, CABA
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <i class="fas fa-envelope"></i> levelup@games.com.ar
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <i class="fas fa-phone-alt"></i> (011) 5263-7400
                        </li>
                    </a>
                </ul>
            </section>
        </section>
    </section>