<div class="menu">
    <div class="menu-wrap">
        <a href="/"
            ><img
                src="/images/layout/logo.png"
                class="logo-img"
                alt="Logo de Level Up Games"
        /></a>
        <input type="checkbox" id="checkbox" />
        <nav>
            <ul>
                <li><a href="/products/category/consoles">Consolas</a></li>
                <li><a href="/products/category/games">Juegos</a></li>
                <li><a href="/products/category/accesories">Accesorios</a></li>
                <li><a href="/products/category/retro">Retro</a></li>
                <li><a href="#datos-contact">Contacto</a></li>
            </ul>

            <ul class="login-checkout">
                <% if (!user) { %>
                <li>
                    <a href="/users/login/" style="color: #fbaaff"
                        ><i class="fas fa-sign-in-alt"></i
                    ></a>
                </li>
                <% } else { %>
                <li>
                    <a href="/users/logout/" style="color: #fbaaff">
                        Salir
                    </a>
                </li>
                <% } %>
                <li>
                    <a href="/checkout/" style="color: #fbaaff"
                        ><i class="fas fa-shopping-cart"></i
                    ></a>
                </li>
            </ul>
        </nav>
        <label for="checkbox">
            <i class="fa fa-bars menu-icon"></i>
        </label>
    </div>
</div>

<div class="search">
    <form class="search-form" action="/search/" method="GET">
        <input
            class="search-box"
            type="text"
            name="buscar"
            placeholder="Encontrá el producto que buscás..."
        />
        <i class="fas fa-search"></i>
    </form>
</div>
<% if (!user) { %>
<div class="admin_container"></div>
<% } else { %>
<div class="admin_container">
    <p class="user-welcome">¡Bienvenido, <%= user.name %>!</p>
</div>
<% } %>
