<div class="menu">
    <div class="menu-wrap">
        <a href="/"
            ><img
                src="/images/logo.png"
                class="logo-img"
                alt="Logo de Level Up Games"
        /></a>
        <input type="checkbox" id="checkbox" />
        <nav>
            <ul>
                <li><a href="#">Consolas</a></li>
                <li><a href="#">Videojuegos</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Retro</a></li>
            </ul>
            <ul>
                <li><a href="/login/">Ingresar</a></li>
                <li><a href="/checkout/">Carrito</a></li>
            </ul>
        </nav>
        <label for="checkbox">
            <i class="fa fa-bars menu-icon"></i>
        </label>
    </div>
</div>

<div class="search">
    <form class="search-form" action="">
        <input
            class="search-box"
            type="text"
            name="buscar"
            placeholder="Encontrá el producto que buscás..."
        />
        <i class="fas fa-search"></i>
    </form>
</div>
