    <div class="product-card">
        <p class="product-card-header"><%= product.name %></p>
        <img src="/images/suggested-games-fallguys.jpg" alt="Fall Guys 2" />
        <div class="product-card-price">
            <i class="fas fa-shopping-cart"></i>
            <p><%= product.price %></p>
        </div>
    </div>
