.register-back {
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px;
    background-image: url("../images/layout/benner_reg_log.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* line-height: 0.5rem !important; */
}
.login-back {
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px;
    background-image: url("../images/layout/benner_reg_log.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.create-back {
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px;
    background-image: url("../images/layout/banner-create.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-back {
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px;
    background-image: url("../images/layout/banner-contact.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    min-width: 250px;
    max-width: 400px;
    /* max-width: 50vw; */
    padding: 0px 20px 20px 20px;
    background-color: #000000;
    margin: auto;
    height: 558px;
    color: #f9ef64;
}

.form-box textarea {
    height: 17vh;
    margin: 8px 0px;
    width: 100%;
    background-color: #231f20;
    border: none;
    padding: 10px;
    color: #f9ef64;
}

/* Floating label */
.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: -7px;
}

.floating-label,
.floating-input {
    transition: all 0.2s;
    touch-action: manipulation;
}
.floating-input {
    border: 0;
    /* border-bottom: 1px solid #ccc; */
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    height: 28px;
    margin-bottom: 4px;
    display: block;
    width: 100%;
    background-color: #231f20;
    color: #f9ef64;
    padding-left: 10px;
}

.box-label-form {
    height: 64px;
}

.feedback-border {
    position: relative;
    border-bottom: 1px solid #ccc;
    height: 1px;
    width: 100%;
    bottom: -4px;
}

.error-feedback-border {
    border-bottom: 1px solid red !important;
    content: "";
    width: 100%;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    bottom: -4px;
}

.success-feedback-border {
    border-bottom: 1px solid green !important;
    content: "";
    width: 100%;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    bottom: -4px;
}

.feedback-border-avatar {
    position: relative;
    border-bottom: 1px solid #ccc;
    height: 1px;
    width: 100%;
    bottom: 3px;
}

.error-feedback-border-avatar {
    border-bottom: 1px solid red !important;
    content: "";
    height: 2px;
    width: 100%;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    bottom: 3px;
}

.userAvatar,
.productPhoto {
    margin-top: 10px;
}

.floating-input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
}

.floating-label {
    letter-spacing: 0.05em;
    color: #f9ef64;
    font-size: 11px;
    position: relative;
    bottom: 4px;
}

.form-tittle {
    margin-bottom: 4px;
    color: #fbaaff;
}

.selected {
    opacity: 0;
}

.floating-input:placeholder-shown + .floating-label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 1.429rem) scale(1.2);
    margin-left: 10px;
}

.floating-input:placeholder-shown + .floating-label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 1.729rem) scale(1.2);
    margin-left: 10px;
}

.floating-input::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}

.floating-input:not(:placeholder-shown) + .floating-label,
.floating-input:focus + .floating-label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
}

/* Show the placeholder when the input is focused.

.floating-input:focus::-webkit-input-placeholder {
    opacity: 1; 
}*/

/* Idea: https: //css-tricks.com/float-labels-css/ */

/* 
.registerForm, .createForm {
    display:flex;
    flex-direction: column;
} */

#avatar,
#photo {
    line-height: 2rem;
}
/* .avatar-container {
    margin:10px;
} */
.feedback {
    position: relative;
    bottom: 1px;
    font-size: 11px;
    line-height: 1em;
    color: red;
    margin-bottom: 0.33333em;
    margin-left: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.15s ease-out;
    transition: opacity 0.15s ease-out;
    text-align: left;
    display: inline-block;
}
/* .feedback:hover {
    opacity: 1;
} */

/* .form-box .caja {
    margin: 8px 0px;
    width: 100%;
    background-color: #231f20;
    border: none;
    padding: 10px;
    color: #f9ef64;
} */

/* .form-box textarea {
    margin: 0px 0px -5px 0px;
    width: 100%;
    background-color: #231f20;
    border: none;
    padding: 10px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    color: #f9ef64;
} */

/* .form-box .photo {
    border: none;
    color: #91d2be;
    padding: 5px;
    top: 0;
} */

/* .form-box .cartel {
    top: 6px;
    border: none;
    color: #91d2be;
    padding: 5px;
    background-color: #231f20;
    position: relative;
    display: block;
    width: 150px;
} */

.terms {
    color: #fbaaff;
    font-size: 14px;
    display: flex;
    margin: 5px 0px;
}

.terms input[type="checkbox"] {
    width: auto;
    margin: 5px;
}

.form-box a {
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.form-box p {
    margin-top: 1px;
}

.login-social,
.remember {
    color: #f9ef64;
}

.login-social i {
    margin: 10px 10px 15px 0px;
}

.login-social {
    margin: 10px 0px 14px 0px;
}

.remember {
    display: flex;
    margin: 10px 0px 29px 0px;
}

.remember label {
    width: 100%;
    font-size: 14px;
}
