
.login input,
.register input,
.create input {
    display: block;
}

.register-back,
.login-back {
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px;
    background-image: url("../images/layout/benner_reg_log.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 0.5rem!important;
}

.create-back {
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px;
    background-image: url("../images/layout/banner-create.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.register,
.login,
.create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    min-width: 250px;
    /* max-width: 400px; */
    max-width: 50vw;
    /* height: 400px; */
    height: 100vh;
    padding: 0px 20px 20px 20px;
    background-color: #000000;
    margin: auto;
}

.register input,
.login input {
    width: 100%;
    background-color: #231f20;
    padding: 10px;
    color: #f9ef64;
}

/* Floating label */
.field {
    display: flex;
    flex-flow: column-reverse;
    /* margin-bottom: 1em; */
}

.floating-label,
.floating-input {
    transition: all 0.2s;
    touch-action: manipulation;
}
.floating-input {
    border: 0;
    /* border-bottom: 1px solid #ccc; */
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;  
        

}
.feedback-border {
    position: relative;
    border-bottom: 1px solid #ccc;
    height: 1px;
    width: 100%;
}
.error-feedback-border {
    border-bottom: 1px solid red !important;
    content: "";
    height: 2px;
    width: 100%;
    transition: transform .25s ease,
    -webkit-transform .25s ease;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.userAvatar {
    margin-top:10px
}

.floating-input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
}

.floating-label {
    letter-spacing: 0.05em;
    color: #f9ef64;
    font-size: 2vh;
}

.floating-input:placeholder-shown+.floating-label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
    margin-left: 10px;
}

::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}

.floating-input:not(:placeholder-shown)+.floating-label,
.floating-input:focus+.floating-label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
}

/* Show the placeholder when the input is focused.

.floating-input:focus::-webkit-input-placeholder {
    opacity: 1; 
}*/

/* Idea: https: //css-tricks.com/float-labels-css/ */


.registerForm {
    display:flex;
    flex-direction: column;
}

input {
    line-height: initial!important;
}
/* .avatar-container {
    margin:10px;
} */
.feedback {
    font-size: 12px;
    line-height: 1em;
    color: red;
    margin-top: .33333em;
    margin-left: 10px;
    opacity: 1;
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out;
    text-align: left;
    display:inline-block;
    height: 3px;
}
/* .feedback:hover {
    opacity: 1;
} */


.create .caja {
    margin: 8px 0px;
    width: 100%;
    background-color: #231f20;
    border: none;
    padding: 10px;
    color: #f9ef64;
}

.create textarea {
    margin: 0px 0px -5px 0px;
    width: 100%;
    background-color: #231f20;
    border: none;
    padding: 10px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    color: #f9ef64;
}

.create .photo {
    border: none;
    color: #91d2be;
    padding: 5px;
    position: absolute;
    top: 0;
    opacity: 0;
}

.create .cartel {
    top: 6px;
    border: none;
    color: #91d2be;
    padding: 5px;
    background-color: #231f20;
    position: relative;
    display: block;
    width: 150px;
}

.register input::placeholder,
.login input::placeholder,
.create input::placeholder,
.create textarea::placeholder {
    color: #f9ef64;
}

.register button,
.login button {
    margin-top: 8px;
    border: none;
    background-color: #231f20;
    color: #91d2be;
    padding: 5px;
}

.create button {
    margin-top: 20px;
    margin-bottom: 8px;
    border: none;
    background-color: #231f20;
    color: #91d2be;
    padding: 5px;
}

.register h2,
.login h2,
.create h2 {
    color: #fbaaff;
}

.terms {
    color: #fbaaff;
    font-size: 14px;
    display: flex;
    margin: 5px 0px;
}

.terms input[type="checkbox"] {
    width: auto;
    margin: 5px;
}

.login a {
    color: #fbaaff;
    text-decoration: none;
    font-size: 14px;
}

.login p {
    margin-top: 1px;
}

.login hr {
    margin: 6px 0;
}

.login-social, .remember {
    color: #f9ef64;
}

.login-social i {
    margin: 10px 10px 15px 0px;
}

.remember {
    display: flex; 
}

.remember label {
    width: 100%;
    font-size: 14px;
}

.btn-register {
    margin-top: 15px;
    margin-bottom: 8px;
    width: 110px;
    border: none;
    background-color: #231f20;
    color: #91d2be !important;
    padding: 5px;
}

