/* Colores
Negro #000000
Gris oscuro #231f20
Verde agua #91D2BE
Rosa #FBAAFF
Amarillo #F9EF64
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #231f20;
  font-family: "Titillium Web", sans-serif;
}

.logo {
  width: 55%;
  margin-right: 30px;
}

header {
  margin: 15px;
}

header a {
  color: #fbaaff;
  text-decoration: none;
  font-weight: 700;
}

.fa-shopping-cart {
  color: #fbaaff;
}

.fa-bars {
  color: #91d2be;
}

.search-form {
  display: inline;
}

.search-form button {
  background-color: #000000;
  color: #f9ef64;
  border: none;
  letter-spacing: 4px;
  height: 23px;
  width: 32%;
}

.search-box {
  width: 60%;
}

.search {
  margin-top: 12px;
}

.ingresar {
  margin-right: 9px;
}

.banner img {
  width: 92%;
  margin-left: 13px;
}

.destacados {
  text-align: center;
}

.destacados h2 {
  color: #f9ef64;
  font-weight: 400;
  line-height: 1;
  margin-left: 13px;
  text-align: left;
}

.destacados img {
  width: 150px;
}

footer {
  background-color: #000000;
  color: #91d2be;
  font-size: 14px;
  padding: 10px;
  margin: 12px;
}

footer h4 {
  color: #f9ef64;
}

.btn {
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
  background-color: #231f20;
  color: #91d2be !important;
  padding: 5px;
}

.social a,
.contact a {
  text-decoration: none;
}

.social li,
.contact li {
  list-style-type: none;
  color: #f9ef64;
}

.social i,
.contact i {
  color: #91d2be;
}
