/* Colores
Negro #000000
Gris oscuro #231f20
Verde agua #91D2BE
Rosa #FBAAFF
Amarillo #F9EF64
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #231f20;
  font-family: "Titillium Web", sans-serif;
}

img {
  width: 200px;
}

.logo {
  margin-right: 30px;
}

header {
  margin: 15px;
}

header a {
  color: #fbaaff;
  text-decoration: none;
  font-weight: 700;
}

.fa-shopping-cart {
  color: #fbaaff;
}

.fa-bars {
  color: #91d2be;
}

.search-form {
  display: inline;
}

.search-form button {
  background-color: #000000;
  color: #f9ef64;
  border: none;
  letter-spacing: 8px;
  height: 23px;
}

.search-box {
  width: 184px;
}

.search {
  margin-top: 12px;
}

.ingresar {
  margin-right: 9px;
}

.banner img {
  width: 92%;
  margin-left: 13px;
}

.destacados h2 {
  color: #f9ef64;
  font-weight: 400;
  line-height: 1;
  margin-left: 13px;
}

.destacados img {
  width: 157px;
  margin-left: 12px;
}

footer {
  background-color: #000000;
  color: #91d2be;
  font-size: 14px;
  padding: 10px;
  margin: 12px;
}

footer h4 {
  color: #f9ef64;
}

.social a,
.contact a {
  text-decoration: none;
}

.social li,
.contact li {
  list-style-type: none;
  color: #f9ef64;
}

.social i,
.contact i {
  color: #91d2be;
}

.login input {
  display: block;
}

.register input {
  display: block;
}

.register,
.login {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: auto;
  padding: 20px;
  background-color: #000000;
  margin: auto;
}

.register input,
.login input {
  margin: 8px 0px;
  width: 100%;
  background-color: #231f20;
  border: none;
  padding: 10px;
}

.register input::placeholder,
.login input::placeholder {
  color: #F9EF64;
}

.register button,
.login button {
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
  background-color: #231f20;
  color: #91D2BE;
  padding: 5px;
}

.register h2,
.login h2 {
  color: #FBAAFF;
}

.login a {
  color: #FBAAFF;
  text-decoration: none;
  font-size: 14px;
}

.redes {
  color: #f9ef64; 
}

.redes i {
  margin: 0px 10px 15px 0px;
}

