/* Colores
Negro #000000
Gris oscuro #231f20
Verde agua #91D2BE
Rosa #FBAAFF
Amarillo #F9EF64
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #231f20;
    font-family: "Titillium Web", sans-serif;
}

.logo {
    width: 130px;
    margin-right: 3%;
}

header {
    margin: 15px;
}

header a {
    color: #fbaaff;
    text-decoration: none;
}

#menu ul {
    display: none;
}

.logo-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fa-shopping-cart {
    color: #fbaaff;
}

.fa-shopping-cart:hover {
    color: #f9ef64;
}

.fa-user {
    color: #fbaaff;
    padding-right: 8px;
}

.fa-user:hover {
    color: #f9ef64;
}

.search .fa-bars {
    color: #91d2be;
    font-size: 28px;
    margin: 0 5px;
    position: relative;
    top: 5px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

.fa-bars-menu {
    display: none;
    list-style: none;
    position: absolute;
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    text-align: left;
    line-height: 25px;
    background-color: #000000;
    padding: 10px;
}

.fa-bars-menu li {
    border-bottom: 1px solid #f9ef64;
}

.fa-bars:hover > ul {
    display: block;
}

.fa-bars-menu li:hover {
    color: #f9ef64;
    background-color: #231f20;
    border-bottom: 5px solid #fbaaff;
}

.search-form {
    display: inline;
}

.search {
    margin-top: 12px;
    text-align: center;
    width: 100%;
}

.search-box {
    width: 80%;
    border-radius: 8px;
    line-height: 2.5;
}

.search-box::placeholder {
    font-size: 12px;
    padding-left: 8px;
}

.fa-search {
    color: #231f20;
    position: relative;
    right: 32px;
    top: 2px;
    font-size: 16px;
}

#menu ul li:hover {
    color: #fbaaff;
}

.ingresar-desktop {
    display: none;
}

.ingresar {
    margin: 50px 3% 0px 0px;
    color: #fbaaff;
    text-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

.ingresar a {
    font-weight: 300;
}

.banner {
    width: 100%;
    overflow: hidden;
}

.banner ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite alternate linear;
}

.banner li {
    width: 100%;
    list-style: none;
}

.banner img {
    width: 100%;
    margin-bottom: 10px;
}

.banner-shipping {
    width: 100%;
    height: 40px;
    margin-top: -16px;
    margin-bottom: 10px;
    background: rgb(249, 239, 100);
    background: linear-gradient(
        90deg,
        rgba(249, 239, 100, 1) 0%,
        rgba(241, 255, 0, 1) 100%
    );
}

.banner-shipping h3 {
    font-size: 14px;
    padding-top: 3px;
    text-align: center;
    color: #231f20;
}

.banner-shipping p {
    font-size: 12px;
    text-align: center;
    margin-top: -5px;
    color: #eb0000;
    font-weight: 700;
}

.banner-shipping h4 {
    display: none;
}

.featured,
.suggested,
.products-section {
    margin-bottom: 20px;
}

.featured h2,
.suggested h2,
.products-section h2 {
    color: #f9ef64;
    font-weight: 400;
    line-height: 1;
    margin: 3% 0px 0px 3%;
    text-align: left;
}

.featured-gallery,
.suggested-gallery,
.product-gallery {
    display: flex;
    justify-content: space-around;
    margin: 0px 5px;
}

.product-gallery {
    flex-wrap: wrap;
}

.featured-gallery img,
.suggested-gallery img,
.product-gallery img {
    object-fit: cover;
    width: 85%;
}

.featured-item,
.suggested-item,
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.featured-item:hover,
.featured-item-desktop:hover,
.suggested-item:hover,
.suggested-item-desktop:hover {
    opacity: 85%;
    transition: all 1s;
    transform: scale(1.03);
}

.featured-header,
.suggested-header,
.product-card-header {
    margin-top: 24px;
    background-color: #000000;
    border: 1px solid #000000;
    color: #fbaaff;
    width: 85%;
    padding-left: 3%;
    font-size: 15px;
}

.featured-price,
.suggested-price,
.product-card-price {
    width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featured-price p,
.suggested-price p,
.product-card-price p {
    font-weight: 700;
    color: #91d2be;
}

/* Featured items que se esconden en version mobile */

.featured-item-desktop,
.suggested-item-desktop {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #000000;
    color: #91d2be;
    font-size: 14px;
    padding: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info-description {
    border-bottom: 1px solid #f9ef64;
    margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
    font-size: 14px;
}

.logo-footer {
    display: block;
    width: 50px;
    margin: 0px 30px 10px 0px;
}

footer h4 {
    color: #f9ef64;
}

.btn {
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
    background-color: #231f20;
    color: #91d2be !important;
    padding: 5px;
}

.datos-contact {
    display: flex;
    flex-direction: column;
}

.social {
    border-bottom: 1px solid #f9ef64;
    margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
}

.social h4,
.contact h4 {
    font-size: 14px;
    margin-bottom: 10px;
}

.social a,
.contact a {
    text-decoration: none;
}

.social li,
.contact li {
    list-style-type: none;
    color: #f9ef64;
}

.social i,
.contact i {
    color: #91d2be;
}

/* Menu para pantallas desde 768px */
@media (min-width: 768px) {
    .search .fa-bars {
        display: none;
    }

    #menu {
        margin-top: 15px;
    }

    #menu ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    #menu li {
        color: #91d2be;
    }
}

/* Logo y barra de busqueda en pantallas desde 768px */

@media (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo {
        width: 150px;
    }

    .search-box {
        width: 90%;
        margin-left: 3%;
    }

    .ingresar {
        display: none;
    }

    .ingresar-desktop {
        display: flex;
        margin: -20px 0px 0px 0px;
        width: 150px;
        color: #fbaaff;
        text-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    }

    .ingresar-desktop a {
        font-weight: 300;
        display: inline;
    }
}

/* Se aumenta el padding left/right del header y footer en pantallas > 1024px */

@media (min-width: 1024px) {
    header {
        padding: 0 5%;
    }
    footer {
        padding: 20px 5%;
    }
}

/* Banner de envios en pantallas > 768px */
@media (min-width: 768px) {
    .banner-shipping {
        height: 55px;
    }

    .banner-shipping h3 {
        font-size: 16px;
        text-align: center;
        color: #231f20;
    }

    .banner-shipping p {
        display: none;
    }

    .banner-shipping h4 {
        display: block;
        text-align: center;
    }
}

/* Featured items que se muestran solo en pantallas > 768px */

@media (min-width: 768px) {
    .featured-item-desktop,
    .suggested-item-desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .product-card {
        width: 25%;
    }

    /* Se agrandan precios de featured */

    .featured-price p,
    .suggested-price p {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .featured-price p,
    .suggested-price p {
        font-size: 20px;
    }
}

/* Se agrandan iconos y fonts a medida que crece el width de la pantalla */

@media (min-width: 1024px) {
    .featured-price,
    .suggested-price {
        padding: 0px 15%;
    }

    .featured-header,
    .suggested-header {
        font-size: 18px;
    }

    .fa-shopping-cart,
    .fa-user {
        font-size: 18px;
    }
}

@media (min-width: 1440px) {
    .fa-shopping-cart,
    .fa-user {
        font-size: 20px;
    }

    #menu ul {
        font-size: 18px;
    }
}

/* Aumenta el padding del navbar y main a medida que la pantalla se hace mas ancha */

@media (min-width: 1024px) {
    #menu ul {
        padding: 0 15%;
    }

    main {
        padding: 0 3%;
    }
    .banner {
        height: 300px;
    }
    .banner-shipping {
        position: relative;
    }
}

@media (min-width: 1200px) {
    #menu ul {
        padding: 0 20%;
    }

    main {
        padding: 0 6%;
    }
}

@media (min-width: 1440px) {
    #menu ul {
        padding: 0 25%;
    }

    main {
        padding: 0 9%;
    }
}

/* Media queries del footer */

@media (min-width: 902px) {
    .info {
        flex-direction: row;
    }

    .info-description {
        width: 50%;
        border-bottom: 0px;
    }

    .info-social {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .social {
        width: 40%;
        border-bottom: 0px;
        margin-bottom: 20px;
        margin-left: 60px;
        margin-right: 20px;
        border-left: 1px solid #f9ef64;
        padding-left: 25px;
    }
    .contact {
        width: 60%;
        margin-bottom: 20px;
        border-left: 1px solid #f9ef64;
        padding-left: 25px;
    }
}

/* keyframe del slide de movimiento del banner */
@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

/* Error 404 */
.error-404 {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-404 h1 {
    color: #f9ef64;
    font-size: 32px;
}

.error-404 p {
    color: #fbaaff;
    font-size: 18px;
    text-align: center;
}
