* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #231f20;
    font-family: "Titillium Web", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Menú responsive */

header {
    background-color: #231f20;
    padding: 10px 0;
}
.menu-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.logo-img {
    width: 110px;
}
.menu-icon {
    font-size: 2.2em;
    color: #91d2be;
}
nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3d4852;
    top: 85px;
    left: 0;
    width: 100%;
    z-index: 1000;
}
nav ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
}

nav ul li a {
    display: inline-block;
    padding: 12px;
    color: #91d2be;
    text-decoration: none;
    letter-spacing: 0.05em;
}
nav ul li a:hover,
nav ul li a:focus {
    color: #fbaaff;
}
#checkbox {
    display: none;
}

#checkbox:checked ~ nav ul {
    max-height: 320px;
    padding: 15px 0;
    transition: all 0.5s;
}

/* Barra de búsqueda */

.search {
    text-align: center;
    width: 100%;
}

.search-box {
    width: 80%;
    border-radius: 8px;
    line-height: 2.5;
}

.search-box::placeholder {
    font-size: 12px;
    padding-left: 8px;
}

.fa-search {
    color: #231f20;
    position: relative;
    right: 32px;
    top: 2px;
    font-size: 16px;
    z-index: 100;
}

.fa-shopping-cart,
.fa-user {
    color: #fbaaff;
}

/* admin info */

.admin_container {
    width: 100%;
    height: 20px;
    text-align: center;
}

.user-welcome {
    display: inline;
    margin-right: 10px;
    font-size: 14px;
}

/* Banner */

.banner {
    width: 100%;
    overflow: hidden;
}

.banner ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite alternate linear;
}

.banner li {
    width: 100%;
    list-style: none;
}

.banner img {
    width: 100%;
    margin-bottom: 10px;
}

.banner-shipping {
    width: 100%;
    height: 40px;
    margin-top: -16px;
    margin-bottom: 10px;
    background: rgb(249, 239, 100);
    background: linear-gradient(
        90deg,
        rgba(249, 239, 100, 1) 0%,
        rgba(241, 255, 0, 1) 100%
    );
}

.banner-shipping h3 {
    font-size: 14px;
    padding-top: 3px;
    text-align: center;
    color: #231f20;
}

.banner-shipping p {
    font-size: 12px;
    text-align: center;
    margin-top: -5px;
    color: #eb0000;
    font-weight: 700;
}

.banner-shipping h4 {
    display: none;
}

/* Secciones de productos */

.featured,
.suggested,
.products-section {
    margin-bottom: 20px;
}

.featured h2,
.suggested h2,
.products-section h2 {
    color: #f9ef64;
    font-weight: 400;
    line-height: 1;
    margin: 3% 0px 0px 3%;
    text-align: left;
}

.featured-gallery,
.product-gallery {
    display: flex;
    justify-content: space-around;
    margin: 0px 5px;
}

.product-gallery {
    flex-wrap: wrap;
}

.featured-gallery img,
.product-gallery img {
    object-fit: cover;
    width: 85%;
}

/* Tarjetas de productos */

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.product-card a {
    text-decoration: none;
    text-align: center;
}

.product-card:hover {
    opacity: 85%;
    transition: all 1s;
    transform: scale(1.03);
}

.product-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 24px;
    background-color: #000000;
    border: 1px solid #000000;
    color: #fbaaff;
    width: 85%;
    height: 8vh;
    line-height: 1.3;
    font-size: 13px;
    padding: 0 5%;
}

.product-card-price {
    width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-card-price p {
    font-weight: 700;
    color: #91d2be;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #000000;
    color: #91d2be;
    font-size: 14px;
    padding: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info-description {
    border-bottom: 1px solid #f9ef64;
    margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
    font-size: 14px;
}

.logo-footer {
    display: block;
    width: 50px;
    margin: 0px 30px 10px 0px;
}

footer h4 {
    color: #f9ef64;
}

.btn {
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
    background-color: #231f20;
    color: #91d2be !important;
    padding: 5px;
}

.datos-contact {
    display: flex;
    flex-direction: column;
}

.social {
    border-bottom: 1px solid #f9ef64;
    margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
}

.social h4,
.contact h4 {
    font-size: 14px;
    margin-bottom: 10px;
}

.social a,
.contact a {
    text-decoration: none;
}

.social li,
.contact li {
    list-style-type: none;
    color: #f9ef64;
}

.social i,
.contact i {
    color: #91d2be;
}

/* Mensaje de bienvenida a usuarios logueados */

.user-welcome {
    color: #91d2be;
}

/* MEDIA QUERIES */

/* Barra de busqueda en pantallas desde 768px */

@media (min-width: 768px) {
    .search-box {
        width: 70%;
    }
}

/* Tamaño logo y padding left/right del header y footer en pantallas > 1024px */

@media (min-width: 1024px) {
    header {
        padding: 10px 5%;
    }
    footer {
        padding: 20px 5%;
    }
    .logo-img {
        width: 130px;
    }
}

/* Banner de envios en pantallas > 768px */
@media (min-width: 768px) {
    .banner-shipping {
        height: 55px;
    }

    .banner-shipping h3 {
        font-size: 16px;
        text-align: center;
        color: #231f20;
    }

    .banner-shipping p {
        display: none;
    }

    .banner-shipping h4 {
        display: block;
        text-align: center;
    }
}

/* Tarjetas de productos en pantallas > 768px */

@media (min-width: 768px) {
    .product-card {
        width: 25%;
    }

    /* Se agrandan precios de cards */

    .product-card-price p {
        font-size: 18px;
    }

    .product-card-header p {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .product-card-price p {
        font-size: 20px;
    }
}

/* Se agrandan iconos y fonts a medida que crece el width de la pantalla */

@media (min-width: 1024px) {
    .product-card-price {
        padding: 0px 15%;
    }

    .product-card-header p {
        font-size: 15px;
    }

    .fa-shopping-cart,
    .fa-user {
        font-size: 18px;
    }

    .featured h2 {
        font-size: 30px;
    }
}

@media (min-width: 1440px) {
    .fa-shopping-cart,
    .fa-user {
        font-size: 20px;
    }

    #menu ul {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    main {
        padding: 0 3%;
    }
    .banner {
        height: 50vh;
    }
    .banner-shipping {
        position: relative;
    }
}

@media (min-width: 1200px) {
    main {
        padding: 0 6%;
    }

    .product-card-header p {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    main {
        padding: 0 9%;
    }

    .product-card-header p {
        font-size: 17px;
    }
}

/* Media queries del footer */

@media (min-width: 902px) {
    .info {
        flex-direction: row;
    }

    .info-description {
        width: 50%;
        border-bottom: 0px;
    }

    .info-social {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .social {
        width: 40%;
        border-bottom: 0px;
        margin-bottom: 20px;
        margin-left: 60px;
        margin-right: 20px;
        border-left: 1px solid #f9ef64;
        padding-left: 25px;
    }
    .contact {
        width: 60%;
        margin-bottom: 20px;
        border-left: 1px solid #f9ef64;
        padding-left: 25px;
    }
}

/* keyframe del slide de movimiento del banner */
@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

/* Error 404 */
.error-404 {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-404 h1 {
    color: #f9ef64;
    font-size: 32px;
}

.error-404 p {
    color: #fbaaff;
    font-size: 18px;
    text-align: center;
}

/* Media queries del menú */

@media (min-width: 768px) {
    .menu-icon {
        display: none !important;
    }

    .login-checkout {
        position: absolute;
        right: -30px;
    }

    nav {
        position: relative;
        background-color: transparent;
        flex-direction: row;
        align-items: center;
        top: -10px;
        margin-right: 5%;
        margin-top: 20px;
    }
    nav ul {
        max-height: 70px;
    }
    nav ul li {
        display: inline-flex;
    }
}

@media (min-width: 1024px) {
    nav ul li a {
        font-size: 17px;
    }
}

@media (min-width: 1440px) {
    nav ul li a {
        font-size: 18px;
    }
}
