<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("partials/head-base.ejs", {title: "Iniciar sesión"}) %>
        <link rel="stylesheet" href="/css/login-register-create.css" />
    </head>

    <body>
        <header><%- include("partials/header.ejs") %></header>

        <main>
            <section class="contact-back">
                <div class="form-box">
                    <h2 class="form-tittle">CONTACTO</h2>
                    <form action="/" method="POST">
                        <label class="box-label-form">
                            <div class="field">
                                <input id="name" type="text" placeholder="Nombre" name="name" class="validate floating-input" />
                                <label for="name" class="floating-label">Nombre</label>
                            </div>
                            <div id="nameBorder" class="feedback-border"></div>
                            <span id="nameFeedback" class="feedback"></span>
                        </label>
                        <label class="box-label-form">
                            <div class="field">
                                <input id="email" type="email" placeholder="Email" name="email" class="validate floating-input" />
                                <label for="email" class="floating-label">Email</label>
                            </div>
                            <div id="emailBorder" class="feedback-border"></div>
                            <span id="emailFeedback" class="feedback"></span>
                        </label>
                        <label class="box-label-form">
                            <div class="field">
                                <textarea name="comment">
                                    Dejanos tu comentario...</textarea>
                            </div>
                            <div id="emailBorder" class="feedback-border"></div>
                            <span id="emailFeedback" class="feedback"></span>
                        </label>

                        <button class="btn" type="submit">Enviar comentario</button>
                    </form>
                </div>
            </section>
        </main>

        <footer><%- include("partials/footer.ejs") %></footer>
    </body>
</html>
