<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <title>Level-Up Games</title>
    </head>
    <body>

        <%- include("partials/header.ejs") %>

        <div class="banner">
            <ul>
                <li>
                    <img src="/images/banner-home.jpg" alt="Banner" />
                </li>
                <li>
                    <img src="/images/banner-home-2.jpg" alt="Banner" />
                </li>
                <li>
                    <img src="/images/banner-home-3.jpg" alt="Banner" />
                </li>
                <li>
                    <img src="/images/banner-home-4.jpg" alt="Banner" />
                </li>
            </ul>
        </div>
        <div class="banner-shipping">
            <h3>
                Envíos sin cargo a todo el país <i class="fas fa-truck"></i>
            </h3>
            <h4>
                <span style="color: #eb0000">#QuedateEnCasa</span> |
                Llamanos al (011) 5263-7400 | Entrega en 24 hs.
            </h4>
            <p>#QuedateEnCasa</p>
        </div>

        <main>
            <section class="featured">
                <h2>
                    Destacados <br />
                    <b>GAMES</b>
                </h2>

                <div class="featured-gallery">
                    <div class="featured-item">
                        <p class="featured-header">PS4</p>
                        <img
                            src="/images/featured-game-cyberpunk.jpg"
                            alt="Cyberpunk 2077"
                        />
                        <div class="featured-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$4.999</p>
                        </div>
                    </div>

                    <div class="featured-item">
                        <p class="featured-header">Switch</p>
                        <img
                            src="/images/featured-game-splatoon.jpg"
                            alt="Splatoon 2"
                        />
                        <div class="featured-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$2.499</p>
                        </div>
                    </div>

                    <div class="featured-item-desktop">
                        <p class="featured-header">XBOX One</p>
                        <img
                            src="/images/featured-game-forza7.jpg"
                            alt="Forza Motorsport 7"
                        />
                        <div class="featured-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$4.299</p>
                        </div>
                    </div>

                    <div class="featured-item-desktop">
                        <p class="featured-header">PS4 / XBOX One</p>
                        <img
                            src="/images/featured-game-fifa20.jpg"
                            alt="Splatoon 2"
                        />
                        <div class="featured-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$3.899</p>
                        </div>
                    </div>
                </div>

                <br />

                <h2>
                    Destacados <br />
                    <b>CONSOLAS</b>
                </h2>

                <div class="featured-gallery">
                    <div class="featured-item">
                        <p class="featured-header">Oferta!</p>
                        <img
                            src="/images/featured-console-ps4-color.jpg"
                            alt="PlayStation 4"
                        />
                        <div class="featured-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$69.999</p>
                        </div>
                    </div>

                    <div class="featured-item">
                        <p class="featured-header">Oferta!</p>
                        <img
                            src="/images/featured-console-switch-color.jpg"
                            alt=""
                        />
                        <div class="featured-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$64.999</p>
                        </div>
                    </div>

                    <div class="featured-item-desktop">
                        <p class="featured-header">Oferta!</p>
                        <img
                            src="/images/featured-console-xboxone-color.jpg"
                            alt=""
                        />
                        <div class="featured-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$52.999</p>
                        </div>
                    </div>

                    <div class="featured-item-desktop">
                        <p class="featured-header">Oferta!</p>
                        <img
                            src="/images/featured-console-snesclassic-color.jpg"
                            alt=""
                        />
                        <div class="featured-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$54.999</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include("partials/footer.ejs") %>
        
    </body>
</html>
