<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Level-Up Games</title>
</head>
<body>

    <header>
        <div>
    <img class="logo" src="/images/logo.png" alt="Logo de Level Up Games"> 
    <a class="ingresar" href="#">Ingresar</a> 
    <i class="fas fa-shopping-cart"></i>
</div>
    <div class="search">
    <i class="fas fa-bars"></i>
    <form class="search-form" action="">
    <input class="search-box" type="text" name="buscar">
    <button type="submit">BUSCAR</button>
</form>
</div>
</header>

<div class="banner">
<img src="/images/banner.jpg" alt="Banner">
</div>

<div class="destacados">
    <h2>Destacados <br> <b>GAMES</b></h2>

    <img src="/images/temp250.png" alt="">
    <img src="/images/temp250.png" alt="">

    <h2>Destacados <br> <b>CONSOLAS</b></h2>

    <img src="/images/temp250.png" alt="">
    <img src="/images/temp250.png" alt="">
</div>

<footer>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque nostrum beatae porro quo unde recusandae consequatur dolores, incidunt molestias corrupti provident nesciunt cupiditate voluptatem.</p>
    <h4>Seguinos en:</h4>
    <ul class="social">
        <a href="#"><li><i class="fab fa-facebook"> </i> Level-Up Games</li></a>
        <a href="#"><li><i class="fab fa-twitter"> </i> Level-Up Games</li></a>
        <a href="#"><li><i class="fab fa-instagram"> </i> Level-Up Games</li></a>
    </ul>

    <h4>Informacion de contacto</h4>
    <ul class="contact">
        <a href="#"><li><i class="fas fa-map-marker-alt"></i> Level-Up Games</li></a>
        <a href="#"><li><i class="fas fa-envelope"></i> Level-Up Games</li></a>
        <a href="#"><li><i class="fas fa-phone-alt"></i> Level-Up Games</li></a>
    </ul>
</footer>

</body>
</html>