<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <title>Level-Up Games</title>
    </head>
    <body>
        <header>
            <div class="logo-login">
                <a href="/"
                    ><img
                        class="logo"
                        src="/images/logo.png"
                        alt="Logo de Level Up Games"
                /></a>
                <div class="ingresar">
                    <a href="/login">Ingresar</a>
                    <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
            <div class="search">
                <i class="fas fa-bars">
                    <ul class="fa-bars-menu">
                        <li>Consolas</li>
                        <li>Videojuegos</li>
                        <li>Accesorios</li>
                        <li>Merchandising</li>
                        <li>Contacto</li>
                    </ul>
                </i>
                <form class="search-form" action="">
                    <input class="search-box" type="text" name="buscar" />
                    <button type="search">BUSCAR</button>
                </form>
                <nav id="menu">
                    <ul>
                        <li>Consolas</li>
                        <li>Videojuegos</li>
                        <li>Accesorios</li>
                        <li>Merchandising</li>
                        <li>Contacto</li>
                    </ul>
                </nav>
            </div>
            <div class="ingresar-desktop">
                <a href="/login">Ingresar</a>
                <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </header>

        <main>
            <div class="banner">
                <img src="/images/banner-home.jpg" alt="Banner" />
            </div>

            <section class="featured">
                <h2>
                    Destacados <br />
                    <b>GAMES</b>
                </h2>

                <div class="featured-gallery">
                    <div class="featured-item">
                        <p class="featured-header">PS4</p>
                        <img src="/images/temp250.png" alt="" />
                        <div class="featured-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$8.499</p>
                        </div>
                    </div>

                    <div class="featured-item">
                        <p class="featured-header">PS4</p>
                        <img src="/images/temp250.png" alt="" />
                        <div class="featured-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$8.499</p>
                        </div>
                    </div>
                </div>

                <br />

                <h2>
                    Destacados <br />
                    <b>CONSOLAS</b>
                </h2>

                <div class="featured-gallery">
                    <div class="featured-item">
                        <p class="featured-header">Oferta!</p>
                        <img src="/images/temp250.png" alt="" />
                        <div class="featured-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$8.499</p>
                        </div>
                    </div>

                    <div class="featured-item">
                        <p class="featured-header">Novedad!</p>
                        <img src="/images/temp250.png" alt="" />
                        <div class="featured-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$8.499</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque
                nostrum beatae porro quo unde recusandae consequatur dolores,
                incidunt molestias corrupti provident nesciunt cupiditate
                voluptatem.
            </p>

            <section class="social">
                <h4>Seguinos en:</h4>
                <ul>
                    <a href="#"
                        ><li>
                            <i class="fab fa-facebook"> </i> @levelup.games
                        </li></a
                    >
                    <a href="#"
                        ><li>
                            <i class="fab fa-twitter"> </i> @levelup.games
                        </li></a
                    >
                    <a href="#"
                        ><li>
                            <i class="fab fa-instagram"> </i> @levelup.games
                        </li></a
                    >
                </ul>
            </section>

            <section class="contact">
                <h4>Informacion de contacto</h4>
                <ul>
                    <a href="#"
                        ><li>
                            <i class="fas fa-map-marker-alt"></i> Av. Monroe
                            860, CABA
                        </li></a
                    >
                    <a href="#"
                        ><li>
                            <i class="fas fa-envelope"></i> levelup@games.com.ar
                        </li></a
                    >
                    <a href="#"
                        ><li>
                            <i class="fas fa-phone-alt"></i> (011) 5263-7400
                        </li></a
                    >
                </ul>
            </section>
        </footer>
    </body>
</html>
