<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/product.css">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <title>Level-Up Games - Página de producto</title>
    </head>
    <body>
        <header>
            <div class="logo-login">
                <a href="/"
                    ><img
                        class="logo"
                        src="/images/logo.png"
                        alt="Logo de Level Up Games"
                /></a>
                <div class="ingresar">
                    <a href="/login"><i class="far fa-user"></i></a>
                    <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
            <div class="search">
                <i class="fas fa-bars">
                    <ul class="fa-bars-menu">
                        <li>Consolas</li>
                        <li>Videojuegos</li>
                        <li>Accesorios</li>
                        <li>Merchandising</li>
                        <li>Contacto</li>
                    </ul>
                </i>
                <form class="search-form" action="">
                    <input
                        class="search-box"
                        type="text"
                        name="buscar"
                        placeholder="Encontrá el producto que buscás..."
                    />
                    <i class="fas fa-search"></i>
                </form>
                <nav id="menu">
                    <ul>
                        <li>Consolas</li>
                        <li>Videojuegos</li>
                        <li>Accesorios</li>
                        <li>Merchandising</li>
                        <li>Contacto</li>
                    </ul>
                </nav>
            </div>
            <div class="ingresar-desktop">
                <a href="/login"><i class="far fa-user"></i></a>
                <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </header>
        
        <main>
            
            <section class="product">             
                
                <div class="product-img">
                    <img src="/images/product-crash_bandicoot.jpeg" alt="Foto de producto">
                </div>

                <div class="product-info">
                    <h2>Nombre <b>Producto</b></h2>
                    <p class="product-code">Código: 983746</p>
                    <p class="product-price">$8.999</p>
                    <span>Cantidad</span>
                    <select name="quantity" id="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

                    <div class="product-buy">
                    <a class="btn-buy" href="/checkout">COMPRAR</a>
                    <i class="fas fa-shopping-cart"></i>
                    </div>
                    <i class="fas fa-heart"></i>
                </div>

                <div class="product-description">
                    <h4>DESCRIPCION</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus labore recusandae veniam at, quam numquam blanditiis ut quae ducimus deserunt, error eveniet facilis voluptate. Eaque nam facilis asperiores hic dolor.</p>
                </div>
            </section>

            <section class="suggested">
                <h2>
                    Productos <br />
                    <b>SUGERIDOS</b>
                </h2>
            
                <div class="suggested-gallery">
                    <div class="suggested-item">
                        <p class="suggested-header">PS4 / XBOX One</p>
                        <img src="/images/suggested-games-fallguys.jpg" alt="Fall Guys 2" />
                        <div class="suggested-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$3.499</p>
                        </div>
                    </div>
            
                    <div class="suggested-item">
                        <p class="suggested-header">Switch</p>
                        <img src="/images/suggested-games-marioodyssey.jpg" alt="Mario Galaxy 2" />
                        <div class="suggested-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$3.499</p>
                        </div>
                    </div>

                    <div class="suggested-item-desktop">
                        <p class="suggested-header">Switch</p>
                        <img src="/images/suggested-games-luigismansion.jpg" alt="Mario Galaxy 2" />
                        <div class="suggested-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$3.499</p>
                        </div>
                    </div>

                    <div class="suggested-item-desktop">
                        <p class="suggested-header">PS4</p>
                        <img src="/images/suggested-games-ratchetandclank.jpg" alt="Mario Galaxy 2" />
                        <div class="suggested-price">
                            <i class="fas fa-shopping-cart"></i>
                            <p>$3.499</p>
                        </div>
                    </div>

                </div>
                </div>
            </section>
        </main>

        <footer>
            <a href="/">
                <img
                    class="logo-footer"
                    src="/images/logo_footer.png"
                    alt="Logo de Level Up Games"
                /></a>
                <section class="info">
                    <section class="info-description">
                        <p>
                            Si te encantan los juegos, ¡viniste al lugar correcto! En LEVEL UP GAMES estamos constantemente en la búsqueda de lo último en juegos y recorremos el mercado para poder ofrecerle lo mejor. <br>
                            Con nuestros pagos seguros y una atención al cliente excepcional, siempre se sentirá cómodo comprando con nosotros.
                        </p>
                </section>
    
                <section class="info-social">
                    <section class="social">
                        <h4>Seguinos en:</h4>
                        <ul>
                            <a href="#"
                                ><li>
                                    <i class="fab fa-facebook"> </i> @levelup.games
                                </li></a
                            >
                            <a href="#"
                                ><li>
                                    <i class="fab fa-twitter"> </i> @levelup.games
                                </li></a
                            >
                            <a href="#"
                                ><li>
                                    <i class="fab fa-instagram"> </i> @levelup.games
                                </li></a
                            >
                        </ul>
                    </section class="datos-contact">
                        <section class="contact">
                            <h4>Informacion de contacto</h4>
                            <ul>
                                <a href="#"
                                    ><li>
                                        <i class="fas fa-map-marker-alt"></i> Av. Monroe
                                        860, CABA
                                    </li></a
                                >
                                <a href="#"
                                    ><li>
                                        <i class="fas fa-envelope"></i> levelup@games.com.ar
                                    </li></a
                                >
                                <a href="#"
                                    ><li>
                                        <i class="fas fa-phone-alt"></i> (011) 5263-7400
                                    </li></a
                                >
                            </ul>
                        </section>
                    </section>
                </section>
        </footer>
    </body>
</html>
