<header>
    <div class="logo-login">
        <a href="/"><img class="logo" src="/images/logo.png" alt="Logo de Level Up Games" /></a>
        <div class="ingresar">
            <a href="/login"><i class="far fa-user"></i></a>
            <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
    <div class="search">
        <i class="fas fa-bars">
            <ul class="fa-bars-menu">
                <li>Consolas</li>
                <li>Videojuegos</li>
                <li>Accesorios</li>
                <li>Merchandising</li>
                <li>Contacto</li>
            </ul>
        </i>
        <form class="search-form" action="">
            <input class="search-box" type="text" name="buscar" placeholder="Encontrá el producto que buscás..." />
            <i class="fas fa-search"></i>
        </form>
        <nav id="menu">
            <ul>
                <li>Consolas</li>
                <li>Videojuegos</li>
                <li>Accesorios</li>
                <li>Merchandising</li>
                <li>Contacto</li>
            </ul>
        </nav>
    </div>
    <div class="ingresar-desktop">
        <a href="/login"><i class="far fa-user"></i></a>
        <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
    </div>
</header>