<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("partials/head-base.ejs", {title: "Iniciar sesión"}) %>
        <link rel="stylesheet" href="/css/login-register-create.css" />
    </head>

    <body>
        <header><%- include("partials/header.ejs") %></header>

        <main>
            <section class="login-back">
                <div class="login">
                    <h2>INGRESAR</h2>
                    <form action="/" method="POST">
                        <input type="text" placeholder="Usuario" name="user" />
                        <input
                            type="password"
                            placeholder="Contraseña"
                            name="password"
                        />
                        <button type="submit">INGRESAR</button>
                    </form>
                    <p><a href="#">Olvidé mi contraseña</a></p>
                    <hr />
                    <div class="login-social">
                        <p>Ingresar con:</p>
                        <i class="fab fa-facebook fa-2x"></i>
                        <i class="fab fa-google fa-2x"></i>
                    </div>
                    <hr />
                    <a class="btn-register" href="/register">CREAR CUENTA</a>
                </div>
            </section>
        </main>

        <footer><%- include("partials/footer.ejs") %></footer>
    </body>
</html>
