<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("partials/head-base.ejs", {title: "Crear cuenta"}) %>
        <link rel="stylesheet" href="/css/login-register-create.css" />
    </head>

    <body>
        <header><%- include("partials/header.ejs") %></header>

        <main>
            <section class="register-back">
                <div class="register">
                    <h2>CREAR CUENTA</h2>
                    <form action="/" method="POST">
                        <input type="text" placeholder="Usuario" name="user" />
                        <input type="email" placeholder="Email" name="email" />
                        <input
                            type="password"
                            placeholder="Contraseña"
                            name="password"
                        />
                        <input
                            type="password"
                            placeholder="Repetir contraseña"
                            name="password2"
                        />
                        <div class="terms">
                            <input type="checkbox" />
                            <p>
                                Declaro que acepto los
                                <u>términos y condiciones.</u>
                            </p>
                        </div>
                        <button type="submit">REGISTRARME</button>
                    </form>
                </div>
            </section>
        </main>

        <footer><%- include("partials/footer.ejs") %></footer>
    </body>
</html>
