<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("partials/head-base.ejs", {title: "Crear producto"}) %>
        <link rel="stylesheet" href="/css/login-register-create.css" />
    </head>

    <body>
        <header><%- include("partials/header.ejs") %></header>

        <main>
            <section class="create-back">
                <div class="create">
                    <h2>CREAR PRODUCTO</h2>
                    <form action="/products/create" enctype="multipart/form-data" method="POST">
                        <input
                            class="caja"
                            type="text"
                            placeholder="Nombre del producto"
                            name="name"
                        />
                        <input
                            class="caja"
                            type="text"
                            placeholder="Descripción"
                            name="description"
                        />
                        <input
                            class="caja"
                            type="number"
                            placeholder="Precio"
                            name="price"
                        />
                        <input 
                            class="caja" 
                            type="number" 
                            placeholder="Descuento" 
                            name="discount" 
                        />
                        <select
                            class="caja"
                            type="text"
                            name="category"
                        />
                        <option value="consoles">Consolas</option>
                        <option value="games">Juegos</option>
                        <option value="accesories">Accesorios</option>
                        <option value="retro">Retro</option>
                    </select>
                        <label class="cartel" for="photo"
                            >Imagen de producto
                            <input
                                class="photo"
                                type="file"
                                name="image"
                                placeholder="Foto producto"
                            />
                        </label>
                        <button type="submit">CREAR</button>
                    </form>
                </div>
            </section>
        </main>

        <footer><%- include("partials/footer.ejs") %></footer>
    </body>
</html>
